
*  {
    margin:0 ;
    padding: 0 ;
    box-sizing : border-box ;
    scroll-behavior: smooth;
}



header.hddr{
  position: fixed;
  
  top: 60px;
  left: 0;
  right: 0;
  background-color:#e9e9e9;
  box-shadow: 0 5px 10px rgba(0,0, 0, .1);
  /* padding: 0px 7%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* z-index: 100; */
  display: none;
  justify-content: center;
  background-color: white;
}


header.hddr .logo{
  font-weight: bolder;
  font-size: 25px;
  color: #333;
}

header.hddr .navbar ul{
list-style: none;
}
header.hddr .navbar ul li{
position: relative;
float: left;
}
header.hddr .navbar ul li a{
font-size: 17px;
padding: 8px;
color: #333;
display: block;
margin-left: 14px;
}

header.hddr .navbar ul li a:hover{
 
  background-color: rgba(0,0,0,.03);
  opacity: .7;
 
  color: #284169!important;
}

header.hddr .navbar ul li a:focus{
  color: #ee2225!important;
}



/* header .mnno{
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
} */


#mennu-bar{
  display: none;
}

header.hddr label {
  font-size: 50px;
  color: #333;
  cursor: pointer;
  display: none;
}




.section-header{
    max-width: 1280px;
    border-radius: 0 0 50px 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 60px 0px rgba(0,0,0,0.13);
    z-index: 9000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #e9e9e9;
  }

  .section-header:hover{
    border-radius: 0;
  }
  
  .container-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  
  }


  
  .left img{
    width: 180px;
    height: 65px;
    padding-left: 30px;
    margin-left: 50px;
  }
  
  .right{
    display: flex;
    justify-content: center;
  }
  
  .right ul{
    list-style: none;
    display: flex;
    padding-right: 150px;
    margin: 20px 0;
    justify-content: center;
  }
  
  .right ul img{
    width: 32px;
    margin-right: 10px;
  }
  .right ul li{
    width: 32px;
    margin-right: 10px;
  }
  
  .container-header2{
    display: flex;
    justify-content: center;
    background-color: white;
  }
  
  .container-header2 ul{
    list-style: none;
    display: flex;
  }
  
  .container-header2 ul li{
    padding: 5px 15px;
    font-family: 'Prata', serif;
    font-size: 14px;
  }
  
  .container-header2 ul li a{
    text-decoration: none;
    color: #284169;
  }
  
  .container-header2 ul li a:hover{
    color: #28416986;
  }
  
  .container-header2 ul li a:focus{
    color: red;
  }



/* -------------------------------------------------- */


.content{
    position: relative;
    text-align: center;
    height: 630px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(140deg,rgba(0,72,114,0.9) 0%,rgba(41,17,96,0.8) 100%);
    background-color: rgba(0,0,0,0);
  
    /* background-image: linear-gradient(140deg,rgba(0, 0, 0, 0) 0%,rgb(209, 239, 12) 100%),url(software.png); */
    background-image: linear-gradient(140deg,rgba(102, 220, 236, 0.9) 0%,rgba(11, 23, 247, 0.8) 100%),url(software.png);
    background-image: linear-gradient(140deg,rgba(0,72,114,0.9) 0%,rgba(41,17,96,0.8) 100%),url("https://www.cloudtechiq.com/wp-content/uploads/2020/11/rendered-1.png");
    background-size: cover;
  }

  
  
.centered{
    position: absolute;
    top: 30% !important;
    /* left:1px !important;
    right:1px !important; */
    transform: translate(-50%, -50%);
    color: #f1f1f1;
    padding: 40px;
    text-align: center !important;
  }
  
  
  
  .centered h1{
    color: #f1f1f1;
    color: #ffff;
    font-size: 75px;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: 'Share Tech', sans-serif; 
    margin-left:1px !important;
    margin-right:1px !important;
    letter-spacing: 0.4px;
  }
  
  .centered p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    line-height: 1.8em;
    margin-left:1px !important;
    margin-right:1px !important;

  }
  
  
  
  h2{
  
   color: #f1f1f1;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 300px;
    font-family: 'Share Tech', sans-serif; 
  
  padding: 20px 2%;
  
  }
  
  
  
  
  
  .butten{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
  
  
  
    
  }
  
  .butten a{
    text-decoration: none;
    color: #ffffff;
   
  }
  
  .btn1{
  
    background-color: #fff;
    
  
  
    border-radius: 0 100px 100px 0;
    
    overflow: hidden;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 50%;
    text-align: right;
    margin-right: 80px;
    margin-left: -2px;
    
 
  
  
  
  
  background-image: linear-gradient(90deg,#ffffff 0%,#2573f9 100%);
      background-color: #2573f9;
    
  }
  
  

  
  
  h4.bbttnn1 {
    margin-left: -122px;
}
  
  
  .btn2{
   
   
      background-color: #2573f9;
    border-radius: 50px;
    padding: 20px;
    margin-right: 80px;
  
  }
  

  
  .btn3{
   
 
      background-color: #51b0ff;
    border-radius: 50px;
    padding: 20px;
 
  }
  
  

  
  
/* ----------------------------------------------------------------------------------------------------- */

  section.centerr1{
      margin-top: 400px;
      width: 100%;
      max-width: 100%;
  }



  .center2{
    float: left;
      width: 100%;
      max-width: 100%;
  }
h2.center3{
 
    width: 50%;
      font-size: 80px;
      font-weight: 500;
      margin-bottom: 1px;
      font-family: 'Share Tech', sans-serif; 
      font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
        font-weight: 900;
        font-size: 35px;
        color: #15314e!important;
        line-height: 1.5em;
  
      z-index: 100;
      margin-top: 200px;
      margin-left:30px;
      text-align: left;
      float: left;
    }
    
    
    
    
     span.center5{
    
    

        text-align: left;
      font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      color: #15314e!important;
      letter-spacing: 2px;
      line-height: 2em;

     
      width: 50%;
      max-width: 100%;
      display: block;
      z-index: 988;
      margin-left: 30px;
      text-align: left;
      position: relative;
    }



img.center4{
  text-align: left;
    z-index:0;
    height: 375px;
    margin-top: -346px;
    max-width: 100%;
    float: right;
    width: 100%;
    position: relative;
}

/* ----------------------------------------------------------------- */


section.centerr1{
float: left;
margin-bottom: 10px;
margin-top: 200px;
  width: 100%;
  max-width: 100%;
}

.centerr2 h2{
  width: 100%;
text-align: center;
  font-weight: 500;
  margin-bottom: 200px;
  font-family: 'Share Tech', sans-serif; 
  font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #15314e!important;
    line-height: 1.5em;
 
  z-index: 100;
  text-transform: uppercase;
 

}


.mainCon{
  float: left;
width: 100%;
max-width: 100%;

}
.onne{
  float: left;
  width: 50%;
  max-width: 100%;
  padding-right: 10px;

}
.twwo{float:left;
  width: 50%;
  max-width: 100%;
padding-left: 10px;
 
}

.icon1{
  width: 100%;
  
}

img.iconnn1{
  display: block;
  position: relative;
  max-width: 100%;
  bottom: 140px;
 
  float: right;
 
}


.etch3{
  width: 75%;
 float: right;
  text-align: left;
  text-align:right;
  margin-right: -90px;
}
.etch3 h3{
  color:#333;

  font-weight: 700;
  line-height: 1.4em;
  font-size: 22px;
}

.etch31{
  margin-bottom: 10px;
}

.icon2{
  width: 100%;
}
img.iconnn2{
  display: block;
  position: relative;
 
float: left;
bottom: 140px;

max-width: 100%;

z-index: 5;
}



.etch33{
  float: left;
  width: 75%;
  color: #173350;
  color: #444;
  text-align: left;

  margin-left: -100px;
 
   
} 
.etch33 h3{
  color: #333;
  font-weight: 700;
    line-height: 1.4em;
    font-size: 22px;
}
.etch33 h3{
  text-align:left;

    
 } 
.etch331{
  margin-bottom: 10px;

    
 } 
.etch332{
  margin-bottom: 10px;

    
 } 


/* ----------------------------------------------------------------- */







/* ------------------------------------------------------ */
section.complete2{
  position: relative;
  width: 100%;
  overflow-wrap: break-word;
}



h2.complete2{










  letter-spacing: 3px;
  text-transform: uppercase;
  width: 50%;
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 1px;
  font-family: 'Share Tech', sans-serif; 
  font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #15314e!important;
    line-height: 1.5em;

  z-index: 100;
  margin-top: 200px;
  margin-left:30px;
  text-align: left;
  float: left;


















}





img.complete5{
 max-width: 100%;
  height: auto;
}

.complete3{
  display: inline-block;
  position: relative;
  max-width: 100%;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  background-color:transparent;
}


/* ------------------------------------------------------------------------------------------------------------ */





.containerr
{
    position: relative;
    width: 1430px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px 20px;
    background-color: #fff;
    text-align: center;
}



.containerr .cardd
{
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 20%;
    margin: 30px 2px;
    text-align: center;
  
}


.containerr .cardd .imagemm
{
 position: absolute; 
 top: 10px;
 left: 10px;

 height: calc(100%-20%);
 width:  calc(100%-20%);
 z-index: 1;
 display: flex;
 justify-content: center;
align-items: center;

border-radius: 20px;

transition: 0.5s ease-in-out;

    
}








.containerr .cardd .imagemm img
{
  position: relative;
    max-width: 100px;
    text-align: center;
   
    transition: 0.5s ease-in-out;
}







.containerr .cardd .contrr
{
    position: relative;
    right: 0;
    width: calc(100%-75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.containerr .cardd .contrr p{
  font-family: Open Sans,Arial,sans-serif;
    
     color: #666;
}
.containerr .cardd .contrr h3
{
    color: #333;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 24px;
    

    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1em;
    text-align: center;
}








@media  (max-width:992px)
{
    .containerr
    {
        position: relative;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .containerr .cardd
    {
        width: 300px;
        height: auto;
        flex-direction: column;
        background: transparent;
        margin: -20px 0;
        box-shadow: none;
    
    }
    .containerr .cardd .imagemm
    {
        margin-top: 70px;
        min-width: 50%;
        position: absolute;
    }
   
    .containerr .cardd .contrr
    {
        position: relative;
        width: 100%;
        background:#fff;
        box-shadow: none;
       margin-top: 100px;

       
    }
}


























/* ------------------------------------------------------------------------------------------------------------ */



section.trust
{
  background-color: #fff;
 
  margin-top: 60px;
  top: -60px;
  margin-bottom: 90px;
}





.bottom{
  width: 100%;
  max-width: 1080px;
  max-width: 100%;
  
  position: relative;
  display: flex;
}

.bot{
  
  text-align: center;
  padding: 20px;
  width: 40vh;
  width: 100%;

  max-width: 100%;

}

.bot1
{
 
 

  transform: translateX(-50%);

  width: 20vh;
  width: 50%;
  max-width: 100%;
  margin-left: 50px;
}




.bot2
{

 
  transform: translateX(-50%);
  width: 20vh;
  width: 50%;
  max-width: 100%;
 
}






.bot3
{
 
  transform: translateX(50%);
 
  width: 20vh;
  width: 50%;
  max-width:100%;
  
}


.bot4
{
  width: 20vh;
  width: 50%;
  max-width: 100%;
 
}








.sl img
{
 
    max-width: 100%;
    margin-left: 50px;
    
    transition: 0.2s ease-in-out;
}





.bot h4{
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  font-family: 'Share Tech', sans-serif;
  margin: 15px 0;
  margin-left: 50px;
}

.bot p{
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  margin-left: 50px;
}




.sl
{
 
 z-index: 1;
 top: 10px;


 height: calc(100%-20%);
 



  justify-content: center;
  align-items: center;
  overflow:visible;
 
  transition: 0.5s ease-in-out;



}





.bot h4
{
  margin-top: 10px;
  font-size: 24px;
}









/* ----------------------------------------------------------------- */












.main{
  top: 400px;
  margin-top: 30px;
  width:100%;
  float:left;}
  
  
  .one{
    padding-right: 10px;
   
    text-transform: uppercase;
  width:40%;
  float:left;
  margin-left: 45px;
  }
  
  
  .two{float:right;
  width:40%;
  padding-left: 10px;
 
  margin-right: 45px;
  text-transform: uppercase;
  }
  .accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 2px solid GRAY;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-transform: uppercase;
  }
  
  
  .accordion2 {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid transparent transparent;
  
 
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-transform: uppercase;
  }
  
  
  
  
  
  
  .active, .accordion:hover {
  
    background-color: transparent;
   
  }
  
  
  .active, .accordion2:hover {
    background-color: transparent;
  }
  .accordion:after {
    content: '\002B';
    color: #777;
    color :blue;
    font-weight: bold;
    float:right;
    margin-left: 5px;


    width: 16px;
    color: #f1f1f1;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
  }
  
  
  
  .accordion2:after {
    content: '\002B';
    color: #777;
    color :blue;
    font-weight: bold;
    float:right;
    margin-left: 5px;
    
    width: 16px;
    color: #f1f1f1;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;


  }
  
  .active:after {
    content: "\2212";
    
  }
  
  .panel {
  
    background-color:#cccccc;
    background-color:#ffffff;
    max-height: 0;
     width: 100%;
      border: 1px solid grey;
     
     overflow:hidden;
    transition: max-height 0.2s ease-out;
    text-transform:initial;
  }




























/* ----------------------------------------------------------------- */

section.Portfolio{
 
  width: 100%;
  max-width: 100%;
}

.tt {
  width: 100%;
 
  margin-left: 200px;
  margin-bottom: 100px;
  background-color: rgb(123, 110, 110);


 position: relative;

}



 
.vb{
  text-align: center;
}



.tt {  width: 100%;
 
  background-color: rgb(123, 110, 110);

 position:absolute;
  
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;



  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 1;
  min-height: 1px;
 




 
  margin-bottom: 100px;

  background-color:transparent;
  text-align: center;
}



/* ------------------- */


.ff {
  float: left;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 1;
  min-height: 1px;

  mix-blend-mode: unset!important;

  font-size: 20px;
  font-weight: 500;
 
  line-height: 1.7em!important;
  background-color: transparent;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid;
  border-radius: 3px;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: all!important;
  transition-property: all!important;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 0px 1px #15314e;
}

a, a:hover {
  text-decoration: none;
}
a.jojo {

  color: #15314e!important;
  border-width: 14px!important;
    border-color: rgba(0,0,0,0);
    border-radius: 0px;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    padding-right: 2em;
    padding-left: 0.7em;
    background-color: #ffffff;
     width: 100%;
  max-width: 100%;
  text-align: center;
  position: relative;
}
.et_pb_button_module_wrapper>a {
  display: inline-block;
}




/* ----------------------------------------------------------------------------------------------------- */

section.mainWebsite{
  margin-bottom: -200px;
  margin-bottom: 200px;
}


.mWebsite{
 
  
  width:100%;
  height: auto;

  }
  
  .mone1{
  width:50%;
  float:left;
  padding-left: 100px;
  padding-top: 80px;
  padding-bottom: 40px
  
  }
  
  .mone2{
  width:50%;
  float:left;
  
  }
  
  .Website h4{
      font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 13px;
      color: rgba(12,12,12,0.27)!important;
      letter-spacing: 3px;
      line-height: 1.8em;
          padding-bottom: 10px;
  }
  
  
  
   h3.Deluxe {
      font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
      font-weight: 700;
      font-size: 35px;
      color: #15314e!important;
      line-height: 1.5em;
      padding-bottom: 10px;
  }
  
  
  
  p.p1{
  text-align: justify;
  padding-bottom: 1em;
   color: #15314e!important;
  
  }
  
  
  p.p2{
  text-align: justify;
  
   color: #15314e!important;
  
  }
  
  p:not(.has-background):last-of-type {
      padding-bottom: 0;
  }
  
  .Website{
    padding-bottom: 1em;
width: 60%;

  }
  
  .truth{
      color: #15314e!important;
      text-align: left;
      width: 60%;
      padding-bottom: 1em;
  }
  
  
  
  
  .truth>:last-child {
      padding-bottom: 0;
  }
  
  .truth ul{
      list-style-type: disc;
      padding: 0 0 23px 1em;
      line-height: 26px;
  }
  
  
  .dev1{
      background-image: linear-gradient(90deg,rgba(245,246,249,0) 50%,#f5f6f9 50%);
      padding-top: 60px;
      padding-bottom: 60px;
  }
  
  
  .dev2{
       margin-right: -20%!important;   
  }
  
  
  span.dev12{
  
  display: block;
        width: 100%;
      max-width: 100%;
  
  }
  
  img.deluxee{
  
    display: block;
  
     position: relative;
   width: 100%;
      max-width: 100%;
      height: auto;
  }
  

/* -------------------------------------------------------------------------------------- */


section.imgparagragh{

  width: 100%;
  margin-top: 1000px;
  max-width: 100%;
}


.imgp{
  width: 100%;
  max-width: 100%;
  /* float: left; */
}




.iimmgs{
  width: 50%;
  float: left;
  background-image: linear-gradient(90deg,#f5f6f9 50%,rgba(245,246,249,0) 50%);
  padding-top: 60px;
  padding-bottom: 60px;



}




img.rigion{
  max-width: 100%;
  float: left;
  width: 100%;
  position: relative;
}

.mp{
  right: -50px;
  width: 50%;
  float: left;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 150px;
  text-align: left;
}

.hforthreep{
  color: #15314e!important;
  text-align: left;
  width: 60%;
  /* text-align: center; */
}
.hforthreep h4{
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  color: rgba(12,12,12,0.27)!important;
  letter-spacing: 3px;
  line-height: 1.8em;
}
.hforthreep h3{
  font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #15314e!important;
  line-height: 1.5em;
}




p.ponly{
  font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
  line-height: 2em;
  text-align: justify;
}












/* ----------------------------------------------------------------- */







/* ---------------------------------------footer--------------------------- */









footer{
  background-image: linear-gradient(140deg,#004872 0%,rgba(41,17,96,0.8) 100%),url(https://www.cloudtechiq.com/wp-content/uploads/2020/07/it-services-06.jpg)!important;
  padding-top: 120px;
  padding-right: 0px;
  padding-bottom: 120px;
  padding-left: 0px;
  position: relative;
  background-color: #fff;
  background-position: 1%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  outline: 0;
  margin: 0;
top: 250px;
width: 100%;
max-width: 100%;
  float: left;
}

.form-left h1{
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
  font-family: 'Share Tech', sans-serif;
  margin-bottom: 15px;
}


.formm{
  display: flex;
  justify-content: space-around;
  margin: 10px 25vh;
  float: left;
}

.input-row{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input-row .input-group{
  flex-basis: 45%;
}


input{
  background-color: rgba(0,0,0,0);
  width: 100%;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  padding-bottom: 5px;
  margin: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.8em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;

}

select{
  background-color: rgba(0,0,0,0);
  width: 100%;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  padding-bottom: 5px;
  margin: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.8em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

textarea{
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  width: 50%;
  outline: none;
  padding: 10px;
  margin: 20px 33px;
  border-bottom: 2px solid #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.8em;
  text-align: left;
}

::placeholder{
  color: #ffffff;
}

.form-right{
  padding: 20px 0;
}

.cp{
  margin: 15px 0;
}

.cp p{
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  font-family: 'Share Tech', sans-serif;
  margin: 15px 0;
}

.cp i{
  font-size: 24px;
  color: #ffa727;
}

.cp ul{
  list-style: none;
  margin-left: 25px;

}

.cp ul li{
  font-size: 16px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
}


.under-form{
  display: flex;
  justify-content: end;
}

.under-form span{
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.8em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

.under-form input{
  background-color: rgba(0,0,0,0);
  width: 30px;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  padding-bottom: 5px;
  margin: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.8em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

.under-form button{
  color: #ffffff;
  border: none;
  border-radius: 100px;
  letter-spacing: 5px;
  font-size: 15px;
  font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700!important;
  text-transform: uppercase;
  background-color: #ffa727;
  padding: 20px;
  cursor: pointer;
}


.butten2{
  position: absolute;
  top: 0%;
  left: 77%;
  transform: translate(-50%, -50%);
  display: flex;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  max-width: 100%;
  justify-content: end;
  
}

.butten2 a{
  text-decoration: none;
  color: #f1f1f1;
}

.btnn11{
  background-image: linear-gradient(270deg,#ffffff 0%,#2573f9 100%);
  background-color: #2573f9;
  border-radius: 100px 0 0 100px;
  overflow: hidden;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 12px;
  padding-right: 50%;
  text-align: left;
}

.btnn22{
  background-color: #307af9;
  border-radius: 50px;
  padding: 20px;
  margin-right: 80px;
}

.btnn33{
  background-color: #307af9;
  border-radius: 50px;
  padding: 20px;
  margin-right: 80px;
}
























